.portfolio{
    perspective: 500px;
    perspective-origin: center;
    width: 100%;
    height: 1400px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -57%);
    overflow: hidden;
}

.nav-buttons{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
}

.info-panel-1{
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(0deg,rgba(0,0,0,0) 1.4285714285714286%,rgba(197,197,197,0.6) 43.57142857142857%);
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.info-panel-1 h2{
    padding-bottom: 440px;
    font-size: 36px;
    position: relative;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s;
    animation-iteration-count: 1;
    animation-duration: .5s;
    
}
@keyframes activate {
    0%{
        bottom: -50px;
        /* filter: blur(20px); */
    }
    50%{
        bottom: 0px;
        /* filter: blur(20px); */
    }
    100%{
        bottom: 0px;
        /* filter: blur(0px); */
    }
}
@keyframes deactivate {
    0%{
        bottom: 0px;
        /* filter: blur(0px); */
    }
    50%{
        bottom: 50px;
        /* filter: blur(20px); */
    }
    100%{
        bottom: 50px;
        /* filter: blur(20px); */
    }
}
.info-panel-1 h2.active{
    opacity: 1;
    animation-name: activate;
    animation-timing-function: ease-in;
}
.info-panel-1 h2.inactive{
    opacity: 0;
    animation-name: deactivate;
    animation-timing-function: ease-in;
}

.info-panel-1::before{
    content: '';
    display: block;
    width: 270px;
    height: 100%;
    opacity: .5;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(0deg,rgba(0,0,0,0) 1.4285714285714286%,rgba(255,255,255,0.8) 43.57142857142857%);
    position: absolute;
}
