.portfolio-item,
.portfolio-item-bottom{
    width: 0;
    height: 0;
    /* backface-visibility: hidden; */
    transition: transform, .5s;
    top: 70%;
    left: 50%;
    position: absolute;
}
.portfolio-item .inner-portfolio-item,
.portfolio-item-bottom .inner-portfolio-item{
    width: 200px;
    height: 200px;
    border-radius: 20% 20% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -100%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-item-bottom .inner-portfolio-item{
    border-radius: 0;
    transform: translate(-50%, 0%);
    background-position: center bottom;

}
.portfolio-item-0 .inner-portfolio-item,
.portfolio-item-bottom-0 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/gemquest1.png');
}
.portfolio-item-1 .inner-portfolio-item,
.portfolio-item-bottom-1 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/subway1.png');
}
.portfolio-item-2 .inner-portfolio-item,
.portfolio-item-bottom-2 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/panera1.png');
}
.portfolio-item-3 .inner-portfolio-item,
.portfolio-item-bottom-3 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/starbucks1.png');
}
.portfolio-item-4 .inner-portfolio-item,
.portfolio-item-bottom-4 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/starbucks2.png');
}
.portfolio-item-5 .inner-portfolio-item,
.portfolio-item-bottom-5 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/cope1.png');
}
.portfolio-item-6 .inner-portfolio-item,
.portfolio-item-bottom-6 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/dunkin1.png');
}
.portfolio-item-7 .inner-portfolio-item,
.portfolio-item-bottom-7 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/dunkin2.png');
}
.portfolio-item-8 .inner-portfolio-item,
.portfolio-item-bottom-8 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/synchrony1.png');
}
.portfolio-item-9 .inner-portfolio-item,
.portfolio-item-bottom-9 .inner-portfolio-item{
    background-image: url('https://danielpatrickkoenig.github.io/shared-app-resources/oreo1.png');
}