header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(20px);
    z-index: 200;
    display:flex;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
header h1{
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
}
header nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 50px;
    left: 0;
    right: 0;

}
header nav.hidden{
    display: none;
}
header nav a{
    padding: 14px 8px;
    color: #000000;
    font-size: 30px;
    display: block;
    border-bottom: 1px solid #000000;
}

header .nav-toggle{
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

header .nav-toggle:before{
    content: '\2261';
    color: #ffffff;
    font-size: 36px;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: center;
    }

    header h1{
        font-size: 26px;
    }
    header nav{
        padding-left: 200px;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        top: unset;
        left: unset;
        right: unset;
        backdrop-filter: none;
        
    }
    header nav a{
        font-size: 14px;
        border: none;
        padding: 8px;
        color: #ffffff;
    }
    header nav.hidden{
        display: flex;
    }

    header .nav-toggle{
        display: none;
    }
}