.nav-buttons{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 800px;
    left: 0;
    right: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: pan-y;
}
.nav-buttons button:first-child{
    margin-right: 150px;
}
.nav-buttons button:last-child{
    margin-left: 150px;
}

@media screen and (min-width: 768px) {
    .nav-buttons button:first-child{
        margin-right: 200px;
    }
    .nav-buttons button:last-child{
        margin-left: 200px;
    }
}