.modal-content{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.modal-content .inner-modal-content{
    width: 310px;
    height: 86vh;
    min-height: 250px;
    background-color: #dddddd;
    border-radius: 12px;
    overflow: auto;
    position: relative;
}

.modal-content .close-button{
    border: none;
    background: none;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal-content .close-button::before,
.modal-content .close-button::after{
    content: '';
    width: 20%;
    height: 90%;
    top: 50%;
    left: 50%;
    display: block;
    background-color: #ffffff;
    transform-origin: center;
    position: absolute;
}
.modal-content .close-button::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-content .close-button::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
    .modal-content .close-button{
        right: 50%;
        transform: translateX(220px);
    }
}