.modal-content{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.modal-content .inner-modal-content{
    width: 310px;
    max-height: 84vw;
    min-height: 50vw;
    background-color: #dddddd;
    border-radius: 12px;
}