.portfolio-item-details{
    position: relative;
    max-width: 100%;
    width: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.portfolio-item-details::before{
    content: '';
    height: 420px;
    width: 100%;
    display: block;
    pointer-events: none;
}
.portfolio-item-details ul{
    display: flex;
    margin: 0 auto;
    padding: 16px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    max-width: 90vw;
}
.portfolio-item-details ul li{
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    display: block;
}
.portfolio-item-details h3{
    font-size: 26px;
    margin: 0;
    padding: 8px 0;
}
.portfolio-item-details p{
    margin: 0;
    padding: 0 0 6px;
}
.portfolio-item-details ul,
.portfolio-item-details .btn{
    transform: translateX(-50%);

}
@media screen and (min-width: 768px) {
    .portfolio-item-details{
        width: 0px;
    }
    .portfolio-item-details ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 650px;
    }
    .portfolio-item-details ul li{
        width: 30%;
    }
}